@font-face {
	font-family: "GangwonEduPowerExtraBoldA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.category {
	margin: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.category h1 {
	font-family: "GangwonEduPowerExtraBoldA";
	text-align: center;
	color: white;
}

.genres {
	display: flex;
	width: max(420px, 50vw);
	justify-content: center;
	flex-wrap: wrap;
}

.movies {
	display: flex;
	width: max(420px, 75vw);
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
